<!DOCTYPE html>
<html>
<head>
<title>Page: About</title>
</head>

<header style="background: green;">
<%= link_to 'Home', root_path %>
</header>
<body style="background: grey;">

<h1>This is a Heading</h1>

<p>This is a paragraph.</p>
  
<%= link_to image_tag('img.jpg') %>

</body>

<footer style="background: yellow;">
This is footer.
</footer>
</html>