<!DOCTYPE html>
<html>
<head>
<title>Page: Home</title>
</head>



<body>
  
  <div class="center jumbotron">
  <h1>Explore new way of peer <br> support!</h1>
  <p>provided by Amer Jaganjac</p>
 <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>



</body>



</html>

